{% extends 'base.html.twig' %}

{% block title %}Página de Inicio - MangaWorld{% endblock %}

{% block body %}
    <h1>¡Bienvenido a la página de inicio de MangaWorld!</h1>
    <p>Explora nuestra colección de mangas y encuentra tus favoritos.</p>
{% endblock %}
